<div class="m-5 form-group position-relative">
  <div class="form-div cursor position-relative" (click)="showDropDown()">
    <p class="pr-2" *ngFor="let selectedOption of selectedOptions">
      {{selectedOptions.length >= 1 ? selectedOption : 'Select options'}}
    </p>
    <i class="material-icons arrow-icon">
      {{isDropDown ? 'arrow_drop_down' : 'arrow_drop_ups'}}
    </i>
  </div>

  <div class="showDropDown p-3" *ngIf="isDropDown">
    <div class="position-relative">
    <input type="text" class="search-control" placeholder="Search">
      <i class="material-icons search-icon">
        search
      </i>
    </div>
    <div class="pt-3" *ngFor="let option of options">
      <div class="raks-checkbox">
        <input (click)="selectOption($event)"  type="checkbox" id="{{option}}">
        <label for="{{option}}"><span class="pl-2">{{option}}</span></label>
      </div>
    </div>
  </div>
</div>
