

$colors: (
  white: #ffff,
  gray: #ced4da,
  body: #eee,
  deep-blue: #022539,
  mid-blue: #014972,
  dark-blue: #202129,
  blue: #2cafe6,
  light-blue: #edf7f6,
  bg-item: #f8f8f8
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$display: (
  flex: flex,
  inline-flex: inline-flex,
  inline-block: inline-block,
  block: block
);

@function display($display-prop) {
  @return map_get($display, $display-prop);
}

.form-group {
  margin-bottom: 30px;
  label {
    font-weight: normal;
    margin: 0;
  }
  input,
  select {
    height: 50px;
  }
  small {
    position: absolute;
  }
  .search-control {
    display: display(block);
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: color(white);
    background-clip: padding-box;
    border: 1px solid color(gray);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

.form-div {
  display: display(flex);
  height: 50px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: color(white);
  background-clip: padding-box;
  border: 1px solid color(gray);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  p {
    align-self: center;
    margin-bottom: 0;
  }
}

.showDropDown {
  border: 1px solid color(gray);
  padding: .375rem .75rem;
  background-color: color(white);
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 99;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}


.cursor {
  cursor: pointer;
}

.search-icon{
  position: absolute;
  right: 0;
  bottom: 5px;
}

.arrow-icon {
  position: absolute;
  right: 0;
  bottom: 25%;
}


//checkbox
.raks-checkbox {
  display: display(block);
  margin-bottom: 15px;
}

.raks-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.raks-checkbox label {
  position: relative;
  cursor: pointer;
}

.raks-checkbox label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1.5px solid #777;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
}

.raks-checkbox input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #777;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
//checkbox

//scrollbar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
//scrollbar
